<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">

    

    <!-- =====BOX ICONS===== -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!-- ===== FONT AWSOME ===== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   
    <!-- ===== JQUERY ===== -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <!-- =====HEADER===== -->
    <header class="promo">
        Ưu Đãi Hè Giảm Giá 50%
    </header>
    <header class="header">
            <nav class="nav">
                <div class="nav-left">
                    <i class='bx bx-menu nav__toggle' id="nav-toggle"></i>
                    <a href="/" class="nav__logo">ELLA</a>
                </div>
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="/" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="shop" class="nav__link">Shop</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#blog" class="nav__link">Blog</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                    </ul>
                </div>
                <div class="nav-right">
                    <i class='bx bx-search nav__search' ></i>
                    <i class='bx bx-user nav__user'></i>
                    <i class='bx bx-shopping-bag nav__shop'></i>
                </div>
            </nav>
    </header>
    <script src="/js/nav.js"></script>
</body>
</html>